.footer{
    display: flex;
    align-items: center;
    background: white;
    position: relative;
}

.footer-wrapper{
    width: 50%;
}


.footer-text{
    background: black;
    height: 570px;
   
    display: flex;
    flex-direction: column;
    position: relative;
    
    user-select: none;
    overflow: hidden;
}

.footer-text_group span:hover {
    color: white;
    transition: 0.2s;
}

.footer-text_group span:active {
    color: white;
    transition: 0.2s;
}



.footer-text_group{
    animation: scrollBottom 7s linear infinite;
    
    display: flex;
    flex-direction: column;
}

.footer-text span{
    font-size: 12.29vw;
    font-weight: 700;
  
    line-height: 9.111vw;
    cursor: pointer;
}

@keyframes scrollBottom {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}

.footer-info{
    display: flex;
    color: white;
    width: 100%;
}

.footer-info__designed{
    font-size: 4.235vw;
    text-align: center;
    padding:3vw;
}

.footer-info__module{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;

    text-align: center;
}

.footer-info__module span{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1vw;
}

@media (max-width: 800px) {
    .footer{
        flex-direction: column;
    }

    .footer-wrapper{
        width: 100%;
    }


    .footer-text span{
        font-size: 24.29vw;
        line-height: 18.2vw;
    }
}